


.top{
	background-color:transparent;
	height:120px;
}

.logo{
	
	width:180px;
	height:120px;
	margin-left:0px;
}
.logoback{
	
	 width: 100%;
    height: 100px !important;
	position:absolute !important;
    background-repeat: no-repeat;
    background-size: contain;
	margin:0;
	padding:0;
	
}

.buttonpos{
	margin-top:10px;;
	float:right;
}
.nav-link{
	color:#FA075C;
	font-size:18px;
	font-weight:bold;
}
.nav-link{
	text-align:center;
}

.top{
    position:absolute;
    z-index:999 !important;
    background:none;
    width:100% !important;
}



.my-nav{
	padding-left:200px;
	margin-top:30px;
	position:absolute !important;
    z-index:999 !important;
    background:none;
    width:85% !important;
	margin-left:15%;
	}




.h1s2{
	color:#ff0055;
}
hr {
height: 1px;
color: #00ff5d;
background-color: #00ff5d;
border: none;
}
.butt{
	
}

.my-carousel {
    position:absolute;
    top:0;
}

.principal{
	width:100%;
	height:342px;
	margin:0 !important;
	padding:0 !important;
	background-size: cover;
}
.prinsp{
	margin-top:2%;

	width:100%;
	
}
.mar{
	margin-left:-20px;
}
.prin{
	padding-left:0 !important;
	padding-right:0 !important;
}
.prinsp1{
	
	margin-left:3%;
	margin-right:3%;
}
.prinsp1head{
	
	margin-left:3%;
	margin-right:3%;
}
@media screen and (min-width: 766px) and (max-width: 1204px) {
  .prinsp1{
	font-size:12px;
	margin-left:3%;
	margin-right:3%;
}
.prinsp1head{
	font-size:18px;
	margin-left:3%;
	margin-right:3%;
}
}
@media screen and (max-width: 991px) {
	.logback2{
	background-image:url("../images/signupback.jpg");
	width:100% !important;
	background-repeat: no-repeat;
}
}
@media screen and (max-width: 766px) {
	.my-carousel {
		position:relative !important ;
		
	}
	.top{
		position:relative !important;
		z-index:0 !important;
		background:#f1e5eb;
		width:100% ;
		padding-left:50px;
    }
	.my-nav{
		margin-left:0;
		position:relative !important;
		z-index:0 !important;
		background:#cea4be;
		width:100% !important;
		margin-top:0px;
	}
	.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }

}
@media screen and (max-width: 350px) {
	.already{
	margin-left:15%;
	font-weight:bold;
}
.already2{
	margin-left:35%;
	font-weight:bold;
}
.mar{
	margin-left:-30px;
}
}
